.pets {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
}

.pets__text {
    order: 0;
}

.pets__catalog {
    order: 1;
}

.pets__view {
    order: 2;
}

@media (min-width: 1279px) {
    .pets__text {
        order: 0;
    }

    .pets__catalog {
        order: 2;
    }

    .pets__view {
        order: 1;
    }

    .pets {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
}